<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <dict>
      <key>F</key>
      <integer>-23</integer>
      <key>H</key>
      <integer>-70</integer>
      <key>O</key>
      <integer>-68</integer>
      <key>T</key>
      <integer>-215</integer>
      <key>Thorn</key>
      <integer>-57</integer>
      <key>U</key>
      <integer>-68</integer>
      <key>V</key>
      <integer>-244</integer>
      <key>Y</key>
      <integer>-227</integer>
    </dict>
    <key>AE</key>
    <dict>
      <key>A</key>
      <integer>-45</integer>
    </dict>
    <key>F</key>
    <dict>
      <key>A</key>
      <integer>-193</integer>
    </dict>
    <key>H</key>
    <dict>
      <key>A</key>
      <integer>-70</integer>
      <key>H</key>
      <integer>28</integer>
    </dict>
    <key>L</key>
    <dict>
      <key>V</key>
      <integer>-204</integer>
      <key>Y</key>
      <integer>-193</integer>
    </dict>
    <key>O</key>
    <dict>
      <key>W</key>
      <integer>-122</integer>
      <key>X</key>
      <integer>-161</integer>
      <key>Y</key>
      <integer>-227</integer>
    </dict>
    <key>P</key>
    <dict>
      <key>A</key>
      <integer>-170</integer>
    </dict>
    <key>T</key>
    <dict>
      <key>A</key>
      <integer>-181</integer>
      <key>J</key>
      <integer>-136</integer>
      <key>adieresis</key>
      <integer>-48</integer>
      <key>idieresis</key>
      <integer>-34</integer>
      <key>igrave</key>
      <integer>38</integer>
      <key>imacron</key>
      <integer>-34</integer>
    </dict>
    <key>Thorn</key>
    <dict>
      <key>Y</key>
      <integer>-170</integer>
    </dict>
    <key>U</key>
    <dict>
      <key>A</key>
      <integer>-68</integer>
    </dict>
    <key>V</key>
    <dict>
      <key>A</key>
      <integer>-241</integer>
      <key>AE</key>
      <integer>-125</integer>
      <key>abreve</key>
      <integer>-134</integer>
    </dict>
    <key>W</key>
    <dict>
      <key>A</key>
      <integer>-228</integer>
    </dict>
    <key>X</key>
    <dict>
      <key>O</key>
      <integer>-172</integer>
    </dict>
    <key>Y</key>
    <dict>
      <key>A</key>
      <integer>-193</integer>
      <key>L</key>
      <integer>-45</integer>
      <key>O</key>
      <integer>-159</integer>
    </dict>
    <key>comma</key>
    <dict>
      <key>y</key>
      <integer>19</integer>
    </dict>
    <key>d</key>
    <dict>
      <key>parenright</key>
      <integer>-38</integer>
    </dict>
    <key>f</key>
    <dict>
      <key>parenright</key>
      <integer>-151</integer>
    </dict>
    <key>j</key>
    <dict>
      <key>parenright</key>
      <integer>-95</integer>
    </dict>
    <key>o</key>
    <dict>
      <key>parenright</key>
      <integer>-170</integer>
    </dict>
    <key>parenleft</key>
    <dict>
      <key>d</key>
      <integer>-132</integer>
      <key>f</key>
      <integer>-132</integer>
      <key>j</key>
      <integer>-57</integer>
      <key>o</key>
      <integer>-170</integer>
    </dict>
    <key>parenright</key>
    <dict>
      <key>parenleft</key>
      <integer>18</integer>
    </dict>
    <key>period</key>
    <dict>
      <key>r</key>
      <integer>95</integer>
    </dict>
    <key>r</key>
    <dict>
      <key>comma</key>
      <integer>-189</integer>
      <key>period</key>
      <integer>-189</integer>
    </dict>
    <key>y</key>
    <dict>
      <key>comma</key>
      <integer>-114</integer>
      <key>period</key>
      <integer>-132</integer>
    </dict>
  </dict>
</plist>
