<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u0985</key>
    <string>u0985.glif</string>
    <key>u0985.2</key>
    <string>u0985.2.glif</string>
    <key>u0986</key>
    <string>u0986.glif</string>
    <key>u0987</key>
    <string>u0987.glif</string>
    <key>u0988</key>
    <string>u0988.glif</string>
    <key>u098B</key>
    <string>u098B_.glif</string>
    <key>u098B.0</key>
    <string>u098B_.0.glif</string>
    <key>u098B.1</key>
    <string>u098B_.1.glif</string>
    <key>u098B.2</key>
    <string>u098B_.2.glif</string>
    <key>u098C</key>
    <string>u098C_.glif</string>
    <key>u098F</key>
    <string>u098F_.glif</string>
    <key>u0990</key>
    <string>u0990.glif</string>
    <key>u0993</key>
    <string>u0993.glif</string>
    <key>u0994</key>
    <string>u0994.glif</string>
    <key>u0995</key>
    <string>u0995.glif</string>
    <key>u0996</key>
    <string>u0996.glif</string>
    <key>u099C</key>
    <string>u099C_.glif</string>
    <key>u099E</key>
    <string>u099E_.glif</string>
    <key>u099F</key>
    <string>u099F_.glif</string>
    <key>u09A2</key>
    <string>u09A_2.glif</string>
    <key>u09A3</key>
    <string>u09A_3.glif</string>
    <key>u09A4</key>
    <string>u09A_4.glif</string>
    <key>u09A5</key>
    <string>u09A_5.glif</string>
    <key>u09A7</key>
    <string>u09A_7.glif</string>
    <key>u09A8</key>
    <string>u09A_8.glif</string>
    <key>u09AB</key>
    <string>u09A_B_.glif</string>
    <key>u09AD</key>
    <string>u09A_D_.glif</string>
    <key>u09AE</key>
    <string>u09A_E_.glif</string>
    <key>u09B2</key>
    <string>u09B_2.glif</string>
    <key>u09B6</key>
    <string>u09B_6.glif</string>
    <key>u09B9</key>
    <string>u09B_9.glif</string>
    <key>u09C7</key>
    <string>u09C_7.glif</string>
    <key>u09C8</key>
    <string>u09C_8.glif</string>
    <key>u09CE</key>
    <string>u09C_E_.glif</string>
    <key>u09E0</key>
    <string>u09E_0.glif</string>
    <key>u09E1</key>
    <string>u09E_1.glif</string>
    <key>u09E7</key>
    <string>u09E_7.glif</string>
    <key>u09E9</key>
    <string>u09E_9.glif</string>
    <key>u09EF</key>
    <string>u09E_F_.glif</string>
  </dict>
</plist>
